.cart{
    display: block;
    top:50px;
    right: 10px;
    position: fixed;
    height:90%;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 99;
    overflow:auto;
}
.cart::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.cart button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.heading{
    text-align: center;
    margin: 30px auto;
}

.cancel{
    padding: 6px;
    font-size: 1rem;
    font-weight: 800;
    background: none;
    border: 1px solid black;
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    cursor: pointer;
}

.cart-header{
    font-size: 1.2rem;
    font-weight: bold;
}

.cart-item{
    width: 45%;
    display: flex;
    align-items: center;
}
.cart-price{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-quantity{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-column{
    margin-right: 1.3em;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid black;
}

.total{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 40px 10px;
}

.total-title{
    font-size: 1.4rem ;
    margin-right: 0.8rem;
    font-weight: bold;
}
.total-value{
    font-size: 1rem ;
}

.purchase-btn{
    display: flex;
    padding: 12px;
    margin: auto;
    font-size: 1rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 167, 245);
    border: 2px solid rgb(0, 167, 245);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.purchase-btn:hover{
    background-color: rgb(0, 149, 218);
    border:2px solid  rgb(0, 149, 218);
}


.cart-row{
    display: flex;
    margin-top: 30px;
}

.cart-img{
    width: 80px;
    margin-right: 20px;
    border-radius: 10px;
}

.item-title{
    display: flex;
    padding-left: 5px;
    padding-top: 5px;
}


.cart-input{
    width: 35px;
    height: 30px;
    border: 1px solid rgb(0, 167, 245);
    margin-right: 1rem;
    outline: none;
    text-align: center;
    border-radius: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remove-btn{
    padding: 7px;
    background-color: rgb(255, 68, 68);
    border: 2px solid rgb(255, 68, 68);
    border-radius: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    cursor: pointer;
}
.remove-btn:hover{
    background-color: rgb(255, 29, 29);
    border: 2px solid rgb(255, 29, 29);
}