.product{
    max-width: 900px;
    margin: auto;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product_list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.product_item{
    margin: 30px;
}
.product_item h2{
    margin: 0.6rem 0;
}
