*,html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  font-family: "poppins";
}
.loading{
  font-size: 1.2rem;
  display: block;
  text-align: center;
  margin: 5rem auto;
}